// Mmain.scss
@import "./base/reset";
@import "./abstracts/variable", "./abstracts/mixin";

@import "./components/navbar", "./components/responsive", "./components/footer";
@import "./sections/home", "./sections/about", "./sections/destination", "./sections/guide";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Mulish&family=Playfair+Display&family=Rampart+One&display=swap");

body {
    background-color: $mainColor;
    position: relative;
}

button,
i {
    cursor: pointer;
}